*{
    padding: 0;
    margin: 0;
}
.BoxModel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;

    padding: 40px;
    background-color: #e7e7e7;  
}

.headerWriter{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
    
}
h2{
    font-size: 30px;
    font-family: arial,monospace;
    font-weight:normal;
}
.btn{
    margin-left: 30px;
    width: 100px;
    height: 20px;
}
.continer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1040px;
    height:510px; 
    background-color: rgb(255, 255, 255);
    
}
.background{
    background-color: rgb(199, 199, 199);
}
p{
    font-size: 30px;
    color: #ffffff;
}
.left{
    display: flex;
    flex-direction: column; 
}

.AB{
    display: flex;
    flex-direction: row;
    width: 580px;
    height: 200px;
}

.A{ 
    margin: 0px 20px 0px 0px;
    width: 250px;
    height: 200px;
}
.B{
    margin: 0px 0px 0px 0px;
    width: 350px;
    height: 200px;
}

.CDE{
    display:flex;
    flex-direction: row;
    width: 600px;
    height: 270px;

}
.CD{
    display:inline-flex;
    flex-direction: column;
}
.C{
    margin: 20px 0px 20px 0px;
    width: 100px;
    height:115px;
}

.D{
    margin: 0px 0px 0px 0px;
    width: 100px;
    height: 115px;
    
}
.E{
    margin: 20px;
    width: 500px;
    height:250px ;
}
.right{
    display: flex;
    flex-direction: row;
}
.F{
    margin: 0px 20px 0px 0px;
    width: 180px;
    height: 470px;
}
.GH{
    display: flex;
    flex-direction: column;
}
.G{
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 350px;
}
.H{
    margin: 20px 0px 0px 0px;
    width: 200px;
    height: 100px;
}
